.detail_icon {
  padding-right: 20px;
}
.input_form {
  display: grid;
  input, textarea {
    padding: 12px 15px;
      border-radius: 10px;
      border: 1px solid #9999;
      outline: none;
  }
}
.order_button {
  padding: 10px !important;
    border-radius: 20px !important;
    margin-top: 20px !important;
}

.button_buy-delete {
  width: 29%;
    border-radius: 100px !important;
    font-weight: 600 !important;
    padding: 12px 20px !important;
    background-color: #EA4B48;
    color: #FFF;
    font-size: 15px;
}
.history-delete {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
